# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# Distribution/packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE-specific settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
